.DS_Store
.vs/mobile-data-transmission-systems/FileContentIndex/9da58d2c-ba22-495b-a0e5-5e91ef141463.vsidx
.vs/mobile-data-transmission-systems/FileContentIndex/2cbe3a60-2164-4e91-9437-b89a414c1424.vsidx
.vs/mobile-data-transmission-systems/FileContentIndex/726e02fd-3601-4ac3-bc65-a770d3343d28.vsidx
.vs/mobile-data-transmission-systems/FileContentIndex/0106749e-4de2-4c24-8a9f-afc6e4b27fe4.vsidx
.vs/mobile-data-transmission-systems/FileContentIndex/ffc63807-1b31-4268-93bc-ae040ed82bf6.vsidx
.vs/mobile-data-transmission-systems/FileContentIndex/d2e0a513-dfb4-4c46-a900-d836ac3dd0bd.vsidx
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/mobile-data-transmission-systems/v17/DocumentLayout.json
.vs/mobile-data-transmission-systems/v17/.wsuo
.vs/mobile-data-transmission-systems/FileContentIndex/bd48c9fd-a9a7-45b6-b70f-be1ec79a9a1a.vsidx
.vs/mobile-data-transmission-systems/FileContentIndex/19cd11ce-b188-40f7-8d81-82a06d02c965.vsidx
.vs/mobile-data-transmission-systems/FileContentIndex/235cde25-11b5-4fa2-a8ff-8ffd91c21684.vsidx
